.MyForm{
    border-radius: 10px;
    padding-bottom: 50px;
    width: 30%;
    margin-left: 35%;
    margin-top: 80px;
    padding-top: 40px;
    background-color: white;
    box-shadow: 2px 2px 7px #f0f0f0;
}

.Pic{
    color: #fff;
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
    height: 30px;
    width: 30px;
}

.PicContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    /*margin: auto;*/
    position: absolute;
    left: 47.7%;
    top: 230px;
    /*top: -65px;*/
    border-radius: 80px;
    border: 6px solid #fff;
    background-color: rgb(58, 84, 127);
}