.FieldsContainer{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-areas:
    "a b"
    "c d"
    "g h"
    "e e";
    align-items: start;
    margin-left: 5%;
    margin-right: 5%;
    grid-column-gap: 5%;
}

.FirstLevelContainer{
    margin-top: 100px;
    background-color: white;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, .05);
    /*margin-left: 10%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    flex: 1;
    border-radius: 20px;
}

.SaveButton{
    margin-top: 60px;
    font-size: 27px;
    height: 60px;
    width: 20%;
    border-radius: 20px;
    text-transform: none;
    background-color: #1976d2;
    color: white;
    margin-bottom: 50px;
    grid-area: e;
    margin-left: 40%;
}

.SaveButton:hover{
    color: #1976d2;
    background-color: white;
}