.MyForm{
    border-radius: 10px;
    padding-bottom: 50px;
    width: 30%;
    margin-left: 35%;
    margin-top: 80px;
    padding-top: 40px;
    background-color: white;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, .2);
}

.Pic{
    color: #fff;
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
    height: 30px;
    width: 30px;
}

.PicContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    /*margin: auto;*/
    position: absolute;
    left: 47.7%;
    top: 230px;
    /*top: -65px;*/
    border-radius: 80px;
    border: 6px solid #fff;
    background-color: rgb(58, 84, 127);
}

.FieldsContainer{
    margin: 20px 50px 20px 50px;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
    flex-flow: column;
    /*width: 100%;*/
    /*vertical-align: center;*/
}

.InputItem{
    flex-grow: 1;
}