.MyInpt{
    /*padding: 5px 10px;*/
    border-radius: 7px;
    border: 2px solid lightgray;
    width: 80%;
    height: 50px;
    font-size: 20px;
    /*position: sticky;*/
    /*position: static;*/
    /*align-content: center;*/
}

.PasswordControl{
    float: right;
    position: absolute;
    margin-left: -40px;
    margin-top: 14px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(./view.svg) 0 0 no-repeat;
}

.PasswordControl.view{
    background: url(./no-view.svg) 0 0 no-repeat;
}